* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

form {
  display: flex; 
  align-items: center;
  justify-content: center;
  
}
#numb {
  height: 2.2rem;
  width: 14rem;
  margin: 1rem 1rem 1rem;
  border-radius: .5rem;
  border: none;
  background-color: silver;
}

#send {
  padding: .25rem .5rem;
  height: 2.2rem;
  width: 8rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}
